In [ ]:
# functools
# exceptional handling
# file handling

functools

In [ ]:
in python  map() , filter() , reduce()
list and iterables datatypes

lambda function - anonymous function

In [1]:
a=int(input('enter a value:'))
b=int(input('enter b value:'))
def add(a,b):
    c=a+b
    print(c)
add(a,b)

enter a value: 10
enter b value: 2

12

In [ ]:
lambda function - anonymous

In [ ]:
# lambda arguments : expression - syntax

In [2]:
add = lambda a,b : a+b
d=add(10,2)
print(d)

12

In [3]:
square = lambda a:a**2
d=square(4)
print(d)

16

In [4]:
sicalc = lambda p,n,r:(p*n*r)/100
emicalc=lambda p,n,r:(p*n*r)/200

x=int(input('enter the principal:'))
y=int(input('enter the no of years:'))
z=float(input('enter rate of interest:'))

choice = input('enter emi or si')

if choice == 'si':
    a=sicalc(x,y,z)
    print(a)
if choice =='emi':
    b=emicalc(x,y,z)
    print(b)

enter the principal: 10000
enter the no of years: 2
enter rate of interest: 2.5
enter emi or si emi

250.0

In [ ]:
map(function, iterable)

iterator - for while 
iterables - list , set , tuple , string

In [10]:
nums =[1,2,3,4]

# [1,4,9,16]

for i in nums:
    i=i**2
    print(i)
    new =[]
    new.append(i)

1
4
9
16

In [13]:
nums = [1,2,3,4]

squared = list(map(lambda x:x**2,nums))
print(squared)

squared = tuple(map(lambda x:x**2,nums))
print(squared)

squared = set(map(lambda x:x**2,nums))
print(squared)

[1, 4, 9, 16]
(1, 4, 9, 16)
{16, 1, 4, 9}

In [ ]:
filter(function, iterables)

In [14]:
numbers =[1,2,3,4,5,6,7,8]

even = list(filter(lambda x:x%2 ==0,nums))
print(even)

[2, 4]

In [ ]:
reduce(function,iterables) - all values combine it will give you single value

sum , total

In [15]:
from functools import reduce

nums =[1,2,3,4]
product=reduce(lambda x,y:x*y,nums)
print(product)

24

exceptional handling - errors handling

In [17]:
a=int(input('enter a value'))
b=int(input('enter b value'))

c=a/b
print(c)

enter a value 10
enter b value 0

ZeroDivisionError: division by zero

In [20]:
try:
    a=int(input('enter a value'))
    b=int(input('enter b value'))
    c=a/b
    print(c)
except ZeroDivisionError:
    print('please give proper vlue for divisor not suppose to give zero')
except ValueError:
    print('please give whole number as the input')

enter a value 4.5

please give whole number as the input

In [21]:
a=[3,44,5,6]

for i in range(0,6):
    print(a[i])

3
44
5
6

IndexError: list index out of range

In [24]:
try:
    a=[3,44,5,6]
    for i in range(0,6):
        print(a[i])
except IndexError as ve:
    print('you are trying to access something out of index')
    print(ve)

3
44
5
6
you are trying to access something out of index
list index out of range

In [25]:
try:
    a=[3,44,5,6]
    for i in range(0,6):
        print(a[i])
except IndexError as ve:
    print('you are trying to access something out of index')
    print(ve)
else:
    print('executed successfully')

3
44
5
6
you are trying to access something out of index
list index out of range

In [26]:
try:
    a=int(input('enter a value'))
    b=int(input('enter b value'))
    c=a/b
    print(c)
except ZeroDivisionError:
    print('please give proper vlue for divisor not suppose to give zero')
except ValueError:
    print('please give whole number as the input')
else:
    print('executed successfully')

enter a value 19
enter b value 2

9.5
executed successfully

In [ ]:
atm machine - insert atm card - withdraw - no cash 

1, no money in account
2, no money in atm 
3, account blocked
4, accepts only 100rs and 200rs
5, forgot pin
6, out of service
7, limit exitd
8, bank server is not connected
9, card is broken
10, card is expired

receit  - withdraw or rejection 
thsnk yu visit again

In [28]:
try:
    a=int(input('enter a value'))
    b=int(input('enter b value'))
    c=a/b
    print(c)
except ZeroDivisionError:
    print('please give proper vlue for divisor not suppose to give zero')
except ValueError:
    print('please give whole number as the input')
else:
    print('executed successfully')
finally:
    print('thank you , visit again')

enter a value 10
enter b value 0

please give proper vlue for divisor not suppose to give zero
thank you , visit again

In [ ]:
Raise

In [29]:
try:
    age = int(input('enter the age'))
    if age>=60:
        raise Exception('sorry we cannot process your application')
    else:
        print('you can apply')
except Exception as e:
    print(e)

enter the age 70

sorry we cannot process your application

In [30]:
for i in range(0,5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (2129355989.py, line 2)

In [32]:
print(new1232)

NameError: name 'new1232' is not defined

In [33]:
math(priya)

NameError: name 'math' is not defined

In [34]:
print(float(hherreji787877))

NameError: name 'hherreji787877' is not defined

In [35]:
print(float(3344yy))

SyntaxError: invalid decimal literal (176812569.py, line 1)

In [ ]:
zerodivision error
input error
syntax error
indentation error
key error
filenotfounderror  - file handling